In [1]:
#imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
#import alpaca_trade_api as tradeapi
#from MCForecastTools import MCSimulation
#import plotly.express as px
import pandas as pd
#import hvplot.pandas
import numpy as np
#import matplotlib.pyplot as plt
from pathlib import Path
#import holoviews as hv
#import json
from pandas_datareader import data as pdr
from datetime import date
import yfinance as yf
yf.pdr_override()
from yahoo_fin.stock_info import get_data

%matplotlib inline

In [2]:
load_dotenv()
stock_tickers = ["AMZN","AAPL","NFLX"]

In [3]:
amzn_data_2016 = get_data(stock_tickers[0], start_date = "2016/04/02", end_date = "2016/06/15", index_as_date = False, interval = "1d")
amzn_data_2016

,date,open,high,low,close,adjclose,volume,ticker
0,2016-04-04,599.000000,599.500000,590.549988,593.190002,593.190002,2470800,AMZN
1,2016-04-05,590.770020,593.469971,585.250000,586.140015,586.140015,2308900,AMZN
2,2016-04-06,587.520020,602.390015,587.500000,602.080017,602.080017,2849900,AMZN
3,2016-04-07,598.760010,599.599976,589.080017,591.429993,591.429993,3189000,AMZN
4,2016-04-08,594.320007,597.859985,589.000000,594.599976,594.599976,2591900,AMZN
5,2016-04-11,596.140015,604.000000,594.909973,595.929993,595.929993,2704300,AMZN
6,2016-04-12,598.400024,604.059998,592.309998,603.169983,603.169983,2641100,AMZN
7,2016-04-13,607.679993,616.809998,605.289978,614.820007,614.820007,4228300,AMZN
8,2016-04-14,615.070007,624.380005,615.070007,620.750000,620.750000,3512100,AMZN
9,2016-04-15,621.919983,626.770020,618.109985,625.890015,625.890015,2887700,AMZN
10,2016-04-18,625.349976,637.640015,624.960022,635.349976,635.349976,4360900,AMZN
11,2016-04-19,637.140015,638.010010,620.799988,627.900024,627.900024,4055900,AMZN
12,2016-04-20,630.000000,636.549988,623.000000,632.989990,632.989990,2609400,AMZN
13,2016-04-21,631.000000,637.820007,628.500000,631.000000,631.000000,2596300,AMZN
14,2016-04-22,624.469971,628.250000,611.559998,620.500000,620.500000,5083900,AMZN
15,2016-04-25,616.609985,626.979980,616.250000,626.200012,626.200012,2682900,AMZN
16,2016-04-26,626.169983,626.750000,614.880005,616.880005,616.880005,2521400,AMZN
17,2016-04-27,611.799988,615.950012,601.280029,606.570007,606.570007,4068800,AMZN
18,2016-04-28,615.539978,626.799988,599.200012,602.000000,602.000000,7872600,AMZN
19,2016-04-29,666.000000,669.979980,654.000000,659.590027,659.590027,10310700,AMZN
20,2016-05-02,663.919983,685.500000,662.030029,683.849976,683.849976,6578500,AMZN
21,2016-05-03,677.359985,680.299988,670.429993,671.320007,671.320007,4923400,AMZN
22,2016-05-04,662.590027,674.000000,662.140015,670.900024,670.900024,4635500,AMZN
23,2016-05-05,673.309998,676.489990,656.000000,659.090027,659.090027,4884100,AMZN
24,2016-05-06,656.049988,676.950012,656.010010,673.950012,673.950012,4365300,AMZN
25,2016-05-09,673.950012,686.979980,671.409973,679.750000,679.750000,3982200,AMZN
26,2016-05-10,694.000000,704.549988,693.500000,703.070007,703.070007,6105600,AMZN
27,2016-05-11,705.789978,719.000000,701.650024,713.229980,713.229980,7338200,AMZN
28,2016-05-12,717.380005,722.450012,711.510010,717.929993,717.929993,5048200,AMZN
29,2016-05-13,714.640015,719.250000,706.510010,709.919983,709.919983,4763400,AMZN
30,2016-05-16,710.130005,713.250000,700.280029,710.659973,710.659973,5432900,AMZN
31,2016-05-17,709.900024,714.469971,693.909973,695.270020,695.270020,5121400,AMZN
32,2016-05-18,689.559998,702.539978,688.760010,697.450012,697.450012,4283200,AMZN
33,2016-05-19,691.880005,699.400024,689.559998,698.520020,698.520020,3025600,AMZN
34,2016-05-20,701.049988,707.239990,700.000000,702.799988,702.799988,2916200,AMZN
35,2016-05-23,704.250000,706.000000,696.419983,696.750000,696.750000,2595100,AMZN
36,2016-05-24,698.010010,707.500000,698.000000,704.200012,704.200012,3033800,AMZN
37,2016-05-25,708.000000,710.859985,705.520020,708.349976,708.349976,3267700,AMZN
38,2016-05-26,708.330017,715.000000,707.289978,714.909973,714.909973,2446700,AMZN
39,2016-05-27,715.000000,716.599976,711.099976,712.239990,712.239990,2249200,AMZN
40,2016-05-31,712.330017,724.229980,711.320007,722.789978,722.789978,3618300,AMZN
41,2016-06-01,720.900024,726.429993,718.219971,719.440002,719.440002,3263100,AMZN
42,2016-06-02,720.969971,728.280029,715.500000,728.239990,728.239990,3026600,AMZN
43,2016-06-03,726.739990,727.000000,718.429993,725.539978,725.539978,3367300,AMZN
44,2016-06-06,726.500000,731.500000,724.419983,726.729980,726.729980,2704800,AMZN
45,2016-06-07,729.890015,730.000000,720.549988,723.739990,723.739990,2732500,AMZN
46,2016-06-08,726.400024,729.419983,721.599976,726.640015,726.640015,2223400,AMZN
47,2016-06-09,723.099976,728.909973,722.299988,727.650024,727.650024,2170300,AMZN
48,2016-06-10,722.349976,724.979980,714.210022,717.909973,717.909973,3425700,AMZN
49,2016-06-13,714.010010,721.989990,711.159973,715.239990,715.239990,3352200,AMZN
50,2016-06-14,712.330017,720.809998,712.270020,719.299988,719.299988,2506900,AMZN

In [4]:
amzn_2016_final = amzn_data_2016.drop(["open", "high","low","close","volume"], axis=1)
amzn_2016_final

         date    adjclose ticker
0  2016-04-04  593.190002   AMZN
1  2016-04-05  586.140015   AMZN
2  2016-04-06  602.080017   AMZN
3  2016-04-07  591.429993   AMZN
4  2016-04-08  594.599976   AMZN
5  2016-04-11  595.929993   AMZN
6  2016-04-12  603.169983   AMZN
7  2016-04-13  614.820007   AMZN
8  2016-04-14  620.750000   AMZN
9  2016-04-15  625.890015   AMZN
10 2016-04-18  635.349976   AMZN
11 2016-04-19  627.900024   AMZN
12 2016-04-20  632.989990   AMZN
13 2016-04-21  631.000000   AMZN
14 2016-04-22  620.500000   AMZN
15 2016-04-25  626.200012   AMZN
16 2016-04-26  616.880005   AMZN
17 2016-04-27  606.570007   AMZN
18 2016-04-28  602.000000   AMZN
19 2016-04-29  659.590027   AMZN
20 2016-05-02  683.849976   AMZN
21 2016-05-03  671.320007   AMZN
22 2016-05-04  670.900024   AMZN
23 2016-05-05  659.090027   AMZN
24 2016-05-06  673.950012   AMZN
25 2016-05-09  679.750000   AMZN
26 2016-05-10  703.070007   AMZN
27 2016-05-11  713.229980   AMZN
28 2016-05-12  717.929993   AMZN
29 2016-05-13  709.919983   AMZN
30 2016-05-16  710.659973   AMZN
31 2016-05-17  695.270020   AMZN
32 2016-05-18  697.450012   AMZN
33 2016-05-19  698.520020   AMZN
34 2016-05-20  702.799988   AMZN
35 2016-05-23  696.750000   AMZN
36 2016-05-24  704.200012   AMZN
37 2016-05-25  708.349976   AMZN
38 2016-05-26  714.909973   AMZN
39 2016-05-27  712.239990   AMZN
40 2016-05-31  722.789978   AMZN
41 2016-06-01  719.440002   AMZN
42 2016-06-02  728.239990   AMZN
43 2016-06-03  725.539978   AMZN
44 2016-06-06  726.729980   AMZN
45 2016-06-07  723.739990   AMZN
46 2016-06-08  726.640015   AMZN
47 2016-06-09  727.650024   AMZN
48 2016-06-10  717.909973   AMZN
49 2016-06-13  715.239990   AMZN
50 2016-06-14  719.299988   AMZN

In [5]:
amzn_data_2016_final = amzn_2016_final.pivot_table(values = "adjclose", index = "date", columns = "ticker")
amzn_data_2016_final

ticker            AMZN
date
2016-04-04  593.190002
2016-04-05  586.140015
2016-04-06  602.080017
2016-04-07  591.429993
2016-04-08  594.599976
2016-04-11  595.929993
2016-04-12  603.169983
2016-04-13  614.820007
2016-04-14  620.750000
2016-04-15  625.890015
2016-04-18  635.349976
2016-04-19  627.900024
2016-04-20  632.989990
2016-04-21  631.000000
2016-04-22  620.500000
2016-04-25  626.200012
2016-04-26  616.880005
2016-04-27  606.570007
2016-04-28  602.000000
2016-04-29  659.590027
2016-05-02  683.849976
2016-05-03  671.320007
2016-05-04  670.900024
2016-05-05  659.090027
2016-05-06  673.950012
2016-05-09  679.750000
2016-05-10  703.070007
2016-05-11  713.229980
2016-05-12  717.929993
2016-05-13  709.919983
2016-05-16  710.659973
2016-05-17  695.270020
2016-05-18  697.450012
2016-05-19  698.520020
2016-05-20  702.799988
2016-05-23  696.750000
2016-05-24  704.200012
2016-05-25  708.349976
2016-05-26  714.909973
2016-05-27  712.239990
2016-05-31  722.789978
2016-06-01  719.440002
2016-06-02  728.239990
2016-06-03  725.539978
2016-06-06  726.729980
2016-06-07  723.739990
2016-06-08  726.640015
2016-06-09  727.650024
2016-06-10  717.909973
2016-06-13  715.239990
2016-06-14  719.299988

In [6]:
aapl_data_2016 = get_data(stock_tickers[1], start_date = "2016/04/02", end_date = "2016/06/15", index_as_date = False, interval = "1d")
aapl_data_2016

,date,open,high,low,close,adjclose,volume,ticker
0,2016-04-04,27.605000,28.047501,27.567499,27.780001,25.877037,149424800,AAPL
1,2016-04-05,27.377501,27.682501,27.355000,27.452499,25.571972,106314800,AAPL
2,2016-04-06,27.557501,27.745001,27.299999,27.740000,25.839775,105616400,AAPL
3,2016-04-07,27.487499,27.605000,27.030001,27.135000,25.276215,127207600,AAPL
4,2016-04-08,27.227501,27.442499,27.042500,27.165001,25.304159,94326800,AAPL
5,2016-04-11,27.242500,27.652500,27.207500,27.254999,25.387993,117630000,AAPL
6,2016-04-12,27.334999,27.625000,27.165001,27.610001,25.718679,108929200,AAPL
7,2016-04-13,27.700001,28.084999,27.700001,28.010000,26.091280,133029200,AAPL
8,2016-04-14,27.905001,28.097500,27.832500,28.025000,26.105249,101895600,AAPL
9,2016-04-15,28.027500,28.075001,27.432501,27.462500,25.581285,187756000,AAPL
10,2016-04-18,27.222500,27.237499,26.735001,26.870001,25.029371,243286000,AAPL
11,2016-04-19,26.969999,27.000000,26.557501,26.727501,24.896631,129539600,AAPL
12,2016-04-20,26.660000,27.022499,26.514999,26.782499,24.947865,122444000,AAPL
13,2016-04-21,26.732500,26.732500,26.379999,26.492500,24.677727,126210000,AAPL
14,2016-04-22,26.252501,26.620001,26.155001,26.420000,24.610197,134732400,AAPL
15,2016-04-25,26.250000,26.412500,26.127501,26.270000,24.470469,112126400,AAPL
16,2016-04-26,25.977501,26.325001,25.977501,26.087500,24.300468,224064800,AAPL
17,2016-04-27,24.000000,24.677500,23.920000,24.455000,22.779797,458408400,AAPL
18,2016-04-28,24.402500,24.469999,23.562500,23.707500,22.083506,328970800,AAPL
19,2016-04-29,23.497499,23.680000,23.127501,23.434999,21.829670,274126000,AAPL
20,2016-05-02,23.492500,23.520000,23.100000,23.410000,21.806383,192640400,AAPL
21,2016-05-03,23.549999,23.934999,23.420000,23.795000,22.165010,227325200,AAPL
22,2016-05-04,23.799999,23.975000,23.455000,23.547501,21.934462,164102000,AAPL
23,2016-05-05,23.500000,23.517500,23.170000,23.309999,21.845438,143562000,AAPL
24,2016-05-06,23.342501,23.362499,22.962500,23.180000,21.723604,174799600,AAPL
25,2016-05-09,23.250000,23.442499,23.147499,23.197500,21.740002,131745600,AAPL
26,2016-05-10,23.332500,23.392500,23.027500,23.355000,21.887602,134747200,AAPL
27,2016-05-11,23.370001,23.392500,23.115000,23.127501,21.674400,114876400,AAPL
28,2016-05-12,23.180000,23.195000,22.367500,22.584999,21.165979,305258800,AAPL
29,2016-05-13,22.500000,22.917500,22.500000,22.629999,21.208157,177571200,AAPL
30,2016-05-16,23.097500,23.597500,22.912500,23.469999,21.995382,245039200,AAPL
31,2016-05-17,23.637501,23.674999,23.252501,23.372499,21.904011,187667600,AAPL
32,2016-05-18,23.540001,23.802500,23.472500,23.639999,22.154696,168249600,AAPL
33,2016-05-19,23.660000,23.660000,23.392500,23.549999,22.070351,121768400,AAPL
34,2016-05-20,23.660000,23.857500,23.629999,23.805000,22.309332,128104000,AAPL
35,2016-05-23,23.967501,24.297501,23.917500,24.107500,22.592829,152074400,AAPL
36,2016-05-24,24.305000,24.522499,24.209999,24.475000,22.937243,140560800,AAPL
37,2016-05-25,24.667500,24.934999,24.527500,24.905001,23.340221,152675200,AAPL
38,2016-05-26,24.920000,25.182501,24.660000,25.102501,23.525312,225324800,AAPL
39,2016-05-27,24.860001,25.117500,24.812500,25.087500,23.511253,145364800,AAPL
40,2016-05-31,24.900000,25.100000,24.705000,24.965000,23.396452,169228800,AAPL
41,2016-06-01,24.754999,24.885000,24.582500,24.615000,23.068445,116693200,AAPL
42,2016-06-02,24.400000,24.459999,24.157499,24.430000,22.895067,160766400,AAPL
43,2016-06-03,24.447500,24.567499,24.362499,24.480000,22.941923,114019600,AAPL
44,2016-06-06,24.497499,25.472500,24.387501,24.657499,23.108265,93170000,AAPL
45,2016-06-07,24.812500,24.967501,24.740000,24.757500,23.201986,89638000,AAPL
46,2016-06-08,24.754999,24.889999,24.670000,24.735001,23.180901,83392400,AAPL
47,2016-06-09,24.625000,24.997499,24.615000,24.912500,23.347248,106405600,AAPL
48,2016-06-10,24.632500,24.837500,24.620001,24.707500,23.155132,126851600,AAPL
49,2016-06-13,24.672501,24.780001,24.275000,24.334999,22.806034,152082000,AAPL
50,2016-06-14,24.330000,24.620001,24.187500,24.365000,22.834148,127727600,AAPL

In [7]:
aapl_data_final = aapl_data_2016.drop(["open", "high","low","close","volume"], axis=1)
aapl_data_final

         date   adjclose ticker
0  2016-04-04  25.877037   AAPL
1  2016-04-05  25.571972   AAPL
2  2016-04-06  25.839775   AAPL
3  2016-04-07  25.276215   AAPL
4  2016-04-08  25.304159   AAPL
5  2016-04-11  25.387993   AAPL
6  2016-04-12  25.718679   AAPL
7  2016-04-13  26.091280   AAPL
8  2016-04-14  26.105249   AAPL
9  2016-04-15  25.581285   AAPL
10 2016-04-18  25.029371   AAPL
11 2016-04-19  24.896631   AAPL
12 2016-04-20  24.947865   AAPL
13 2016-04-21  24.677727   AAPL
14 2016-04-22  24.610197   AAPL
15 2016-04-25  24.470469   AAPL
16 2016-04-26  24.300468   AAPL
17 2016-04-27  22.779797   AAPL
18 2016-04-28  22.083506   AAPL
19 2016-04-29  21.829670   AAPL
20 2016-05-02  21.806383   AAPL
21 2016-05-03  22.165010   AAPL
22 2016-05-04  21.934462   AAPL
23 2016-05-05  21.845438   AAPL
24 2016-05-06  21.723604   AAPL
25 2016-05-09  21.740002   AAPL
26 2016-05-10  21.887602   AAPL
27 2016-05-11  21.674400   AAPL
28 2016-05-12  21.165979   AAPL
29 2016-05-13  21.208157   AAPL
30 2016-05-16  21.995382   AAPL
31 2016-05-17  21.904011   AAPL
32 2016-05-18  22.154696   AAPL
33 2016-05-19  22.070351   AAPL
34 2016-05-20  22.309332   AAPL
35 2016-05-23  22.592829   AAPL
36 2016-05-24  22.937243   AAPL
37 2016-05-25  23.340221   AAPL
38 2016-05-26  23.525312   AAPL
39 2016-05-27  23.511253   AAPL
40 2016-05-31  23.396452   AAPL
41 2016-06-01  23.068445   AAPL
42 2016-06-02  22.895067   AAPL
43 2016-06-03  22.941923   AAPL
44 2016-06-06  23.108265   AAPL
45 2016-06-07  23.201986   AAPL
46 2016-06-08  23.180901   AAPL
47 2016-06-09  23.347248   AAPL
48 2016-06-10  23.155132   AAPL
49 2016-06-13  22.806034   AAPL
50 2016-06-14  22.834148   AAPL

In [8]:
aapl_data_2016_final = aapl_data_final.pivot_table(values = "adjclose", index = "date", columns = "ticker")
aapl_data_2016_final

ticker           AAPL
date
2016-04-04  25.877037
2016-04-05  25.571972
2016-04-06  25.839775
2016-04-07  25.276215
2016-04-08  25.304159
2016-04-11  25.387993
2016-04-12  25.718679
2016-04-13  26.091280
2016-04-14  26.105249
2016-04-15  25.581285
2016-04-18  25.029371
2016-04-19  24.896631
2016-04-20  24.947865
2016-04-21  24.677727
2016-04-22  24.610197
2016-04-25  24.470469
2016-04-26  24.300468
2016-04-27  22.779797
2016-04-28  22.083506
2016-04-29  21.829670
2016-05-02  21.806383
2016-05-03  22.165010
2016-05-04  21.934462
2016-05-05  21.845438
2016-05-06  21.723604
2016-05-09  21.740002
2016-05-10  21.887602
2016-05-11  21.674400
2016-05-12  21.165979
2016-05-13  21.208157
2016-05-16  21.995382
2016-05-17  21.904011
2016-05-18  22.154696
2016-05-19  22.070351
2016-05-20  22.309332
2016-05-23  22.592829
2016-05-24  22.937243
2016-05-25  23.340221
2016-05-26  23.525312
2016-05-27  23.511253
2016-05-31  23.396452
2016-06-01  23.068445
2016-06-02  22.895067
2016-06-03  22.941923
2016-06-06  23.108265
2016-06-07  23.201986
2016-06-08  23.180901
2016-06-09  23.347248
2016-06-10  23.155132
2016-06-13  22.806034
2016-06-14  22.834148

In [9]:
nflx_data_2016 = get_data(stock_tickers[2], start_date = "2016/04/02", end_date = "2016/06/15", index_as_date = False, interval = "1d")
nflx_data_2016

,date,open,high,low,close,adjclose,volume,ticker
0,2016-04-04,105.900002,105.919998,103.199997,104.349998,104.349998,10940400,NFLX
1,2016-04-05,103.470001,105.750000,103.250000,104.940002,104.940002,10060900,NFLX
2,2016-04-06,105.300003,106.440002,104.250000,104.830002,104.830002,9605800,NFLX
3,2016-04-07,104.309998,106.440002,103.599998,104.449997,104.449997,10774900,NFLX
4,2016-04-08,105.120003,105.330002,102.820000,103.809998,103.809998,7857600,NFLX
5,2016-04-11,104.040001,104.980003,102.620003,102.680000,102.680000,7451300,NFLX
6,2016-04-12,103.150002,107.220001,102.209999,106.980003,106.980003,12437000,NFLX
7,2016-04-13,108.000000,111.279999,107.879997,109.650002,109.650002,16701700,NFLX
8,2016-04-14,110.010002,111.639999,109.150002,110.419998,110.419998,9553700,NFLX
9,2016-04-15,110.639999,111.849998,109.779999,111.510002,111.510002,11746100,NFLX
10,2016-04-18,109.900002,110.699997,106.019997,108.400002,108.400002,32816400,NFLX
11,2016-04-19,99.489998,101.370003,94.199997,94.339996,94.339996,55728800,NFLX
12,2016-04-20,94.339996,96.980003,93.139999,96.769997,96.769997,26613500,NFLX
13,2016-04-21,97.309998,97.379997,94.779999,94.980003,94.980003,19919400,NFLX
14,2016-04-22,94.849998,96.690002,94.209999,95.900002,95.900002,15806300,NFLX
15,2016-04-25,95.699997,95.750000,92.800003,93.559998,93.559998,14985400,NFLX
16,2016-04-26,93.500000,93.550003,91.250000,92.430000,92.430000,15330900,NFLX
17,2016-04-27,92.180000,92.500000,90.209999,91.040001,91.040001,12218900,NFLX
18,2016-04-28,91.500000,92.669998,90.089996,90.279999,90.279999,11474900,NFLX
19,2016-04-29,90.500000,90.559998,88.209999,90.029999,90.029999,13968000,NFLX
20,2016-05-02,90.410004,93.220001,89.889999,93.110001,93.110001,12547000,NFLX
21,2016-05-03,92.080002,93.250000,91.300003,91.540001,91.540001,10593900,NFLX
22,2016-05-04,91.000000,92.160004,90.349998,90.790001,90.790001,7394700,NFLX
23,2016-05-05,90.910004,92.080002,89.250000,89.370003,89.370003,10368500,NFLX
24,2016-05-06,88.830002,90.879997,88.110001,90.839996,90.839996,10433900,NFLX
25,2016-05-09,90.730003,91.830002,89.900002,90.540001,90.540001,9543700,NFLX
26,2016-05-10,91.139999,93.250000,91.089996,92.889999,92.889999,11175900,NFLX
27,2016-05-11,92.400002,92.589996,89.900002,90.019997,90.019997,11692900,NFLX
28,2016-05-12,90.320000,90.410004,85.739998,87.739998,87.739998,20408100,NFLX
29,2016-05-13,87.389999,88.589996,86.260002,87.879997,87.879997,11571400,NFLX
30,2016-05-16,87.559998,90.000000,86.150002,89.120003,89.120003,11247800,NFLX
31,2016-05-17,89.000000,90.870003,88.169998,88.629997,88.629997,11571300,NFLX
32,2016-05-18,88.250000,91.720001,88.250000,90.500000,90.500000,13911800,NFLX
33,2016-05-19,90.160004,91.269997,88.300003,89.550003,89.550003,11450300,NFLX
34,2016-05-20,90.080002,93.279999,89.980003,92.489998,92.489998,15063000,NFLX
35,2016-05-23,92.980003,95.290001,92.849998,94.889999,94.889999,13992300,NFLX
36,2016-05-24,95.980003,99.139999,95.750000,97.889999,97.889999,21246000,NFLX
37,2016-05-25,99.000000,100.309998,98.300003,100.199997,100.199997,15142900,NFLX
38,2016-05-26,103.209999,104.000000,101.379997,102.809998,102.809998,17824700,NFLX
39,2016-05-27,102.440002,103.500000,101.440002,103.300003,103.300003,9092100,NFLX
40,2016-05-31,102.949997,103.449997,102.129997,102.570000,102.570000,8725700,NFLX
41,2016-06-01,101.500000,101.919998,100.160004,101.510002,101.510002,8393400,NFLX
42,2016-06-02,101.389999,102.150002,100.769997,101.250000,101.250000,7992400,NFLX
43,2016-06-03,100.989998,101.000000,98.529999,99.589996,99.589996,9224000,NFLX
44,2016-06-06,100.290001,101.070000,99.720001,100.739998,100.739998,6828100,NFLX
45,2016-06-07,101.199997,101.629997,99.769997,99.889999,99.889999,6474700,NFLX
46,2016-06-08,100.019997,100.279999,97.599998,97.860001,97.860001,9423900,NFLX
47,2016-06-09,97.220001,98.430000,96.660004,97.089996,97.089996,8923800,NFLX
48,2016-06-10,94.879997,95.349998,93.279999,93.750000,93.750000,12907900,NFLX
49,2016-06-13,95.019997,97.199997,93.620003,93.849998,93.849998,13484300,NFLX
50,2016-06-14,94.160004,95.800003,93.269997,94.120003,94.120003,9480400,NFLX

In [10]:
nflx_data_final = nflx_data_2016.drop(["open", "high","low","close","volume"], axis=1)
nflx_data_final

         date    adjclose ticker
0  2016-04-04  104.349998   NFLX
1  2016-04-05  104.940002   NFLX
2  2016-04-06  104.830002   NFLX
3  2016-04-07  104.449997   NFLX
4  2016-04-08  103.809998   NFLX
5  2016-04-11  102.680000   NFLX
6  2016-04-12  106.980003   NFLX
7  2016-04-13  109.650002   NFLX
8  2016-04-14  110.419998   NFLX
9  2016-04-15  111.510002   NFLX
10 2016-04-18  108.400002   NFLX
11 2016-04-19   94.339996   NFLX
12 2016-04-20   96.769997   NFLX
13 2016-04-21   94.980003   NFLX
14 2016-04-22   95.900002   NFLX
15 2016-04-25   93.559998   NFLX
16 2016-04-26   92.430000   NFLX
17 2016-04-27   91.040001   NFLX
18 2016-04-28   90.279999   NFLX
19 2016-04-29   90.029999   NFLX
20 2016-05-02   93.110001   NFLX
21 2016-05-03   91.540001   NFLX
22 2016-05-04   90.790001   NFLX
23 2016-05-05   89.370003   NFLX
24 2016-05-06   90.839996   NFLX
25 2016-05-09   90.540001   NFLX
26 2016-05-10   92.889999   NFLX
27 2016-05-11   90.019997   NFLX
28 2016-05-12   87.739998   NFLX
29 2016-05-13   87.879997   NFLX
30 2016-05-16   89.120003   NFLX
31 2016-05-17   88.629997   NFLX
32 2016-05-18   90.500000   NFLX
33 2016-05-19   89.550003   NFLX
34 2016-05-20   92.489998   NFLX
35 2016-05-23   94.889999   NFLX
36 2016-05-24   97.889999   NFLX
37 2016-05-25  100.199997   NFLX
38 2016-05-26  102.809998   NFLX
39 2016-05-27  103.300003   NFLX
40 2016-05-31  102.570000   NFLX
41 2016-06-01  101.510002   NFLX
42 2016-06-02  101.250000   NFLX
43 2016-06-03   99.589996   NFLX
44 2016-06-06  100.739998   NFLX
45 2016-06-07   99.889999   NFLX
46 2016-06-08   97.860001   NFLX
47 2016-06-09   97.089996   NFLX
48 2016-06-10   93.750000   NFLX
49 2016-06-13   93.849998   NFLX
50 2016-06-14   94.120003   NFLX

In [11]:
nflx_data_2016_final = nflx_data_2016.pivot_table(values = "adjclose", index = "date", columns = "ticker")
nflx_data_2016_final

ticker            NFLX
date
2016-04-04  104.349998
2016-04-05  104.940002
2016-04-06  104.830002
2016-04-07  104.449997
2016-04-08  103.809998
2016-04-11  102.680000
2016-04-12  106.980003
2016-04-13  109.650002
2016-04-14  110.419998
2016-04-15  111.510002
2016-04-18  108.400002
2016-04-19   94.339996
2016-04-20   96.769997
2016-04-21   94.980003
2016-04-22   95.900002
2016-04-25   93.559998
2016-04-26   92.430000
2016-04-27   91.040001
2016-04-28   90.279999
2016-04-29   90.029999
2016-05-02   93.110001
2016-05-03   91.540001
2016-05-04   90.790001
2016-05-05   89.370003
2016-05-06   90.839996
2016-05-09   90.540001
2016-05-10   92.889999
2016-05-11   90.019997
2016-05-12   87.739998
2016-05-13   87.879997
2016-05-16   89.120003
2016-05-17   88.629997
2016-05-18   90.500000
2016-05-19   89.550003
2016-05-20   92.489998
2016-05-23   94.889999
2016-05-24   97.889999
2016-05-25  100.199997
2016-05-26  102.809998
2016-05-27  103.300003
2016-05-31  102.570000
2016-06-01  101.510002
2016-06-02  101.250000
2016-06-03   99.589996
2016-06-06  100.739998
2016-06-07   99.889999
2016-06-08   97.860001
2016-06-09   97.089996
2016-06-10   93.750000
2016-06-13   93.849998
2016-06-14   94.120003

In [12]:
stock_data_2016_df = pd.concat([amzn_data_2016_final,aapl_data_2016_final,nflx_data_2016_final], axis = "columns", join = "inner")
stock_data_2016_df

ticker            AMZN       AAPL        NFLX
date
2016-04-04  593.190002  25.877037  104.349998
2016-04-05  586.140015  25.571972  104.940002
2016-04-06  602.080017  25.839775  104.830002
2016-04-07  591.429993  25.276215  104.449997
2016-04-08  594.599976  25.304159  103.809998
2016-04-11  595.929993  25.387993  102.680000
2016-04-12  603.169983  25.718679  106.980003
2016-04-13  614.820007  26.091280  109.650002
2016-04-14  620.750000  26.105249  110.419998
2016-04-15  625.890015  25.581285  111.510002
2016-04-18  635.349976  25.029371  108.400002
2016-04-19  627.900024  24.896631   94.339996
2016-04-20  632.989990  24.947865   96.769997
2016-04-21  631.000000  24.677727   94.980003
2016-04-22  620.500000  24.610197   95.900002
2016-04-25  626.200012  24.470469   93.559998
2016-04-26  616.880005  24.300468   92.430000
2016-04-27  606.570007  22.779797   91.040001
2016-04-28  602.000000  22.083506   90.279999
2016-04-29  659.590027  21.829670   90.029999
2016-05-02  683.849976  21.806383   93.110001
2016-05-03  671.320007  22.165010   91.540001
2016-05-04  670.900024  21.934462   90.790001
2016-05-05  659.090027  21.845438   89.370003
2016-05-06  673.950012  21.723604   90.839996
2016-05-09  679.750000  21.740002   90.540001
2016-05-10  703.070007  21.887602   92.889999
2016-05-11  713.229980  21.674400   90.019997
2016-05-12  717.929993  21.165979   87.739998
2016-05-13  709.919983  21.208157   87.879997
2016-05-16  710.659973  21.995382   89.120003
2016-05-17  695.270020  21.904011   88.629997
2016-05-18  697.450012  22.154696   90.500000
2016-05-19  698.520020  22.070351   89.550003
2016-05-20  702.799988  22.309332   92.489998
2016-05-23  696.750000  22.592829   94.889999
2016-05-24  704.200012  22.937243   97.889999
2016-05-25  708.349976  23.340221  100.199997
2016-05-26  714.909973  23.525312  102.809998
2016-05-27  712.239990  23.511253  103.300003
2016-05-31  722.789978  23.396452  102.570000
2016-06-01  719.440002  23.068445  101.510002
2016-06-02  728.239990  22.895067  101.250000
2016-06-03  725.539978  22.941923   99.589996
2016-06-06  726.729980  23.108265  100.739998
2016-06-07  723.739990  23.201986   99.889999
2016-06-08  726.640015  23.180901   97.860001
2016-06-09  727.650024  23.347248   97.089996
2016-06-10  717.909973  23.155132   93.750000
2016-06-13  715.239990  22.806034   93.849998
2016-06-14  719.299988  22.834148   94.120003

In [13]:
stock_data_2016_df.to_csv(r'../Project_two/Stock-Analysis/2016_stock_data.csv', index = True)